<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="User.WSSOAP11Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="User.WSSOAP11Binding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="User.WSSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://daytonacollege-test.blackboard.com:443/webapps/ws/services/User.WS"
                binding="basicHttpBinding" bindingConfiguration="User.WSSOAP11Binding"
                contract="ServiceReferenceUser.UserWSPortType" name="User.WSSOAP11port_https" />
            <endpoint address="http://daytonacollege-test.blackboard.com:8080/webapps/ws/services/User.WS"
                binding="basicHttpBinding" bindingConfiguration="User.WSSOAP11Binding1"
                contract="ServiceReferenceUser.UserWSPortType" name="User.WSSOAP11port_http1" />
            <endpoint address="https://daytonacollege-test.blackboard.com:443/webapps/ws/services/User.WS"
                binding="customBinding" bindingConfiguration="User.WSSOAP12Binding"
                contract="ServiceReferenceUser.UserWSPortType" name="User.WSSOAP12port_https" />
            <endpoint address="http://daytonacollege-test.blackboard.com:8080/webapps/ws/services/User.WS"
                binding="customBinding" bindingConfiguration="User.WSSOAP12Binding"
                contract="ServiceReferenceUser.UserWSPortType" name="User.WSSOAP12port_http1" />
        </client>
    </system.serviceModel>
</configuration>